.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

mgt-login {
  --padding: 10px;
  --button-background-color--hover: transparent;
}

mgt-people-picker {
  --input-border: 1px solid #605e5c; /* sets all input area border */
}

#outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

#table-container {
  height: 100%;
  width: 100%;
  display: table;
  top: 50%;
}

#table-cell {
  vertical-align: middle;
  height: 100%;
  display: table-cell;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
